nav{
  width: 100%;
}
aside{
  height: 100%;
}
#box-courses{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  height: 50%;
}
#box-course{
  background-image: url(../img/slideshows/slide-index/curso.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 250px;
  width: 30%;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
p{
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}
li{
  list-style: none;
}
#text-side{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3%;
  height: 20%;
  min-height: 80px;
}
#link-box-course:link, #link-box-course:visited{
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
#link-box-course:hover{
  color: rgba(147, 145, 145, 0.65)
}
